body {
  font-family: "Poppins";
}
p {
  color: #97969c;
  font-size: 16px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../images/mountains.jpg);
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  max-width: 1400px;
  background-size: cover;
  padding: 260px 0px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 60px;
  padding: 40px;
}
.grid-two-col {
  grid-template-columns: 1fr 1fr;
}
.grid-one-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.info_container {
  margin: 20px 30px;
}
.info_container h3 {
  color: #d4d3da;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.info_container h1 {
  font-size: 40px;
  margin: 0px;
}

.info_img {
  max-width: 100%;
  margin: 0;
}

footer {
  font-size: 14px;
  color: white;
  background-image: linear-gradient(
      rgba(34, 15, 12, 0.9),
      rgba(34, 15, 12, 0.9)
    ),
    url(../images/footer_img.jpg);
  background-repeat: no-repeat;
  max-width: 1400px;
  background-size: cover;
  background-position: center;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header h3 {
    font-size: 12px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header a {
    font-size: 7px;
    padding: 8px 16px;
  }
  .grid {
    grid-template-columns: 1fr;
    padding: 0px 30px;
    grid-gap: 20px;
  }
  .info_container {
    margin: 70px 30px;
  }
  .info_img {
    margin-top: -18px;
    padding: 0px;
  }
}
