body {
  font-family: "Poppins";
}
p {
  color: #97969c;
  font-size: 20px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../images/mountains.jpg);
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  max-width: 1400px;
  background-size: cover;
  padding: 260px 0px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 70px;
}
.grid {
  display: grid;
  grid-gap: 60px;
  padding: 20px;
}
.grid-two-col {
  grid-template-columns: 1fr 1fr;
}
.grid-one-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.info_container {
  margin: 20px 30px;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card-header.grid {
  grid-gap: 0;
  padding: 0;
}
.img_responsive {
  width: 173px;
  height: 176px;
  display: block;
}
section h3 {
  color: #d4d3da;
  text-transform: uppercase;
  letter-spacing: 5px;
}
section h1 {
  font-size: 40px;
  margin: 0px;
}
.river_img {
  max-width: 100%;
}

.text_center {
  text-align: center;
}
.card {
  background-color: white;
  margin: 30px 0;
}
.card-body {
  padding: 30px;
}
.card-footer {
  display: flex;

  justify-content: center;
  margin-bottom: 30px;
}

section.secondary {
  background-color: #f8f8f8;
}

.card h4 {
  font-weight: 800;
  font-size: 24px;
  margin: 0px;
  line-height: 1;
}
.card p {
  font-size: 12px;
}
.card h5 {
  font-size: 12px;
  margin: 0px;
}

.btn {
  letter-spacing: 5px;
  background-color: rgb(139, 96, 52);
  text-decoration: none;
  padding: 15px 47px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.space_gallery {
  margin: 50px 0px;
}
footer {
  font-size: 12px;
  color: white;
  background-image: linear-gradient(
      rgba(34, 15, 12, 0.9),
      rgba(34, 15, 12, 0.9)
    ),
    url(../images/footer_img.jpg);
  background-repeat: no-repeat;
  max-width: 1400px;
  background-size: cover;
  background-position: center;
}

footer h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: none;
}
footer p {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  opacity: 0.8;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header h3 {
    font-size: 12px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header a {
    font-size: 7px;
    padding: 8px 16px;
  }
  .grid {
    grid-template-columns: 1fr;
    padding: 0px 30px;
    grid-gap: 10px;
  }
  .info_container {
    margin: 70px 30px;
  }
  .info_img {
    margin-top: -18px;
    padding: 0px;
  }
  .img_responsive {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  .card-footer {
    padding: 28px 125px;
  }
}
